{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Video Silencer Application{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Video Silencer Application</h1>
        </div>
    </div>

    {% if videos %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Title</th>
                    <th>Filename</th>
                    <th>Actions</th>
                </tr>
                {% for video in videos %}
                    <tr>
                        <td>{{ video.title }}</td>
                        <td>{{ video.filename }}</td>
                        <td>
                            <!-- Single button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{url_for('backend.get_video', video_id=video.id )}}">Download with silence</a></li>
                                    {% if video.without_silence %}
                                        <li><a href="{{url_for('backend.get_video_without_silence', video_id=video.id )}}">Download without silence</a></li>
                                    {% else %}
                                        <li><a href="{{url_for('backend.process_video_by_id', video_id=video.id )}}">Process Video</a></li>
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{url_for('backend.delete_video_by_id', video_id=video.id )}}">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <h3>Sumbit New Video</h3>
        <form method="post" action="{{url_for('frontend.home_page')}}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.video) }}
            {{ wtf.form_field(form.without_silence) }}
            <input class="btn btn-primary" type=submit value=Add>
        </form>
    </div>

{% endblock %}